.wrapper,
.block {
  width: 300px;
  height: 300px;
}

.block {
  object-fit: cover;
  position: relative;
}

.remove {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 30px 15px;
  border-radius: 50%;
  cursor: pointer;
}

